" Load vim configs
source ~/.vimrc

" Fast reload .ideavimrc
map <leader>si   :source ~/.ideavimrc<CR>

" Plugins
set NERDTree
set commentary
set surround
set ideajoin
set multiple-cursors
set highlightedyank
let g:highlightedyank_highlight_duration = "40"

" Enable native idea paste action for put operations
set clipboard+=ideaput

" Disable bells
set visualbell

" Keymaps
map <Leader>p       <Action>(GotoFile)
map <Leader>o       <Action>(SearchEverywhere)
map <Leader>f       <Action>(FindInPath)
map <Leader>r       <Action>(RenameElement)
map <Leader>R       <Action>(RenameInPath)
map <Leader>a       <Action>(ShowIntentionActions)
map <Leader>A       <Action>(Refactorings.QuickListPopupAction)
map <Leader>v       <Action>(ShowErrorDescription)
map <Leader>H       <Action>(Replace)
map <Leader>h       <Action>(ReplaceInPath)
map <Leader>d       <Action>(EditorDuplicate)

" map <C-t>           <Action>(ActivateTerminalToolWindow)
map <C-w>           <Action>(HideAllWindows)
" map <C-A-z>         <Action>(ToggleZenMode)
" map <C-A-o>         <Action>($ShowTranslationDialogAction)
" map <Leader>e      :NERDTreeFocus<CR>

nmap gn             <Action>(GotoNextError)
nmap gp             <Action>(GotoPreviousError)
nmap gd             <Action>(GotoDeclaration)
nmap gi             <Action>(GotoImplementation)
nmap gu             <Action>(ShowUsages)

map <C-i>           <Action>(Back)
map <C-o>           <Action>(Forward)
map <Leader><Tab>   <Action>(PreviousTab)
map <Tab>           <Action>(NextTab)

nmap <A-j>          <Action>(MoveStatementDown)
nmap <A-k>          <Action>(MoveStatementUp)
vmap <A-j>          <Action>(MoveStatementDown)
vmap <A-k>          <Action>(MoveStatementUp)

nmap <C-A-j>        <Action>(EditorCloneCaretBelow)
nmap <C-A-k>        <Action>(EditorCloneCaretAbove)

nmap gcc            <Action>(CommentByLineComment)
vmap gcc            <Action>(CommentByLineComment)<Esc>
vmap gbc            <Action>(CommentByBlockComment)<Esc>

" Plugins Keymaps
nmap <Leader>e      :NERDTreeFocus<CR>

nmap <C-n>          <Plug>NextWholeOccurrence
xmap <C-n>          <Plug>NextWholeOccurrence
nmap <C-x>          <Plug>SkipOccurrence
xmap <C-x>          <Plug>SkipOccurrence
nmap <S-C-n>        <Plug>AllWholeOccurrences
xmap <S-C-n>        <Plug>AllWholeOccurrences

